.sections{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 200px;
    a{
        text-decoration: none;
        color:  aliceblue;
    }
}